<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletExercise3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>addEmployee</servlet-name>
	<servlet-class>com.servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addEmployee</servlet-name>
	<url-pattern>/addEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>updateEmployee</servlet-name>
	<servlet-class>com.servlet.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updateEmployee</servlet-name>
	<url-pattern>/updateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deleteEmployee</servlet-name>
	<servlet-class>com.servlet.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteEmployee</servlet-name>
	<url-pattern>/deleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getEmployee</servlet-name>
	<servlet-class>com.servlet.GetEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getEmployee</servlet-name>
	<url-pattern>/getEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>listEmployees</servlet-name>
	<servlet-class>com.servlet.ListEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>listEmployees</servlet-name>
	<url-pattern>/listEmployeesServlet</url-pattern>
  </servlet-mapping>
</web-app>